@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

h1{
    padding-top: 5px;
    font-family: Kalam;
    font-size: 60px;
}

.jumbotron{
    padding-top: 6rem;
    background-color: #e2edff;
}

#projects{
    background-color: #e2edff;
}

section{
    padding-top: 5rem;
}